<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.group.sharegram.approval.ApprovalDTO" alias="ApprovalDTO" />
		<typeAlias type="com.group.sharegram.company.CompanyDTO" alias="CompanyDTO" />
		
		<typeAlias type="com.group.sharegram.user.domain.DepartmentsDTO" alias="DepartmentsDTO" />
		<typeAlias type="com.group.sharegram.user.domain.PositionDTO" alias="PositionDTO" />
		<typeAlias type="com.group.sharegram.user.domain.RetiredDTO" alias="RetiredDTO" />
		<typeAlias type="com.group.sharegram.user.domain.EmployeesDTO" alias="EmployeesDTO" />
		
		<typeAlias type="com.group.sharegram.addr.domain.EmpAddrDTO" alias="EmpAddrDTO" />
		<typeAlias type="com.group.sharegram.mail.domain.MailDTO" alias="MailDTO" />
		<typeAlias type="com.group.sharegram.mail.domain.ReceiversDTO" alias="ReceiversDTO" />
		<typeAlias type="com.group.sharegram.mail.domain.MailSummerImageDTO" alias="MailSummerImageDTO" />
		<typeAlias type="com.group.sharegram.mail.domain.MailAtchDTO" alias="MailAtchDTO" />
		<typeAlias type="com.group.sharegram.addr.domain.AddrGroupDTO" alias="AddrGroupDTO" />
		<typeAlias type="com.group.sharegram.addr.domain.PersonalAddrDTO" alias="PersonalAddrDTO" />
		
		<typeAlias type="com.group.sharegram.schedule.domain.AttendanceDTO" alias="AttendanceDTO" />
      	<typeAlias type="com.group.sharegram.schedule.domain.ScheduleDTO" alias="ScheduleDTO" />
      	
      	 <typeAlias type="com.group.sharegram.board.domain.AnonyBoardDTO" alias="AnonyBoardDTO" />
	      <typeAlias type="com.group.sharegram.board.domain.AnonyCommentDTO" alias="AnonyCommentDTO" />
	      <typeAlias type="com.group.sharegram.board.domain.AttachDTO" alias="AttachDTO" />
	      <typeAlias type="com.group.sharegram.board.domain.NoticBoardDTO" alias="NoticBoardDTO" />
	      <typeAlias type="com.group.sharegram.board.domain.SummernoteImageDTO" alias="SummernoteImageDTO" />
	      <typeAlias type="com.group.sharegram.board.domain.UploadBoardDTO" alias="UploadBoardDTO" />
	      <typeAlias type="com.group.sharegram.board.domain.UploadCommentDTO" alias="UploadCommentDTO" />
      	
		

	</typeAliases>

</configuration>